body {
  width: 100%;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0;
  padding: 0;
}



.navbar { 
  margin-bottom: 3rem;
  margin-top: 0;
  box-shadow: 0px 0px 5px rgba(194, 183, 183, 0.565);
  width: 100%;
  height: 4rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.736);
  align-items: center;
}

.navbar > a {
  text-decoration: none;
  color: black;
}

.navbar > a:hover {
  color: #a90d24;
}

.app-title {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 4rem;
  letter-spacing: 3px;
}

.navbar-links {
  margin-left: auto;
  display: flex;
  justify-content: center;
  padding-right: 4rem;
}

.navbar-links > a {
  color: black;
  text-decoration: none;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.2rem;
}

.navbar-links > a:hover {
  color: #a90d24;
}

.navbar-links > header {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.2rem;
}
.reading-page {
  max-width: 50rem;
  padding: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  display: block;
  font-size: 1.1rem;
  background-color: white;
  min-height: calc(100vh - 6rem - 1px);
  box-sizing: border-box;
  text-align: justify;
  box-shadow:
    -10px 0px 10px -5px rgba(194, 183, 183, 0.565), /* Left shadow */
    10px 0px 10px -5px rgba(194, 183, 183, 0.565);  /* Right shadow */
}

body > p {
  text-align: justify;
}

.guess {
  display: flex;
  flex-direction: row;
  margin-bottom:2rem;
  margin-top: 1rem;
  width: 37%;
  height: 2.8rem;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#form {
  width: 100%;
  flex-direction: row;
  display: flex;
  height: 2.8rem;
}
#input {
  border-radius: 5px; 
  border-width: thin; 
  width: 71%;
  height: 2.8rem;
  box-shadow: 4px 4px 4px rgba(194, 183, 183, 0.565);
  box-sizing: border-box;
}

#submit {
  color: white;
  background-color: #D4213D;
  margin-left: 4%;
  width: 25%;
  border: none;
  height: 2.8rem;
  border-radius: 5px; 
  /* padding: 10px; */
  box-sizing: border-box;
}
#submit:hover {
  background-color: #b41c33;
  cursor: pointer;
}
#submit:active {
  background-color: #63101c;
}


#map {
  min-height: 65vh;
  width: 53%;
  margin-left: auto;
  margin-right: auto;
  border-width: thin;
  border-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.736);
  box-shadow: 0px 0px 10px rgba(194, 183, 183, 0.565);
}

.stats {
  width: 60%;
  padding: 0px;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  font-size: 1rem;
}

.stats-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  border-width: thin;
  border-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.736);
  box-shadow: 0px 0px 10px rgba(194, 183, 183, 0.565);
  box-sizing: border-box;
  padding: 0.7rem;
  font-weight: 400;
  gap: 0.2rem;
}

#entities-pop {
  margin-top: 10px;
  font-size: 1.1rem;
}
#entities-names {
  float: left;
}
 #entities-biggest {
  float: right;
 }
 #entities-smallest {
  float: left;
 }
 #entities-types {
  float: right;
 }

 .navbar-bottom {
  /* align-self: flex-end; */
  background-color: #D4213D;
  min-height: 2rem;
  width: 100%;
  margin-top: auto;
   box-shadow:
    -10px 0px 10px -5px rgba(194, 183, 183, 0.565), /* Left shadow */
    10px 0px 10px -5px rgba(194, 183, 183, 0.565);  /* Right shadow */
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
  box-sizing: border-box;
}

.navbar-bottom > div > a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}